

  <div class="card h100">
    <img class="card-img-top" src="@Model.ImagemPequenaUrl" alt="Card image cap" asp-append-version="true">
    <div class="card-body">
      <h5 class="card-title"> <a asp-controller="Item" asp-action="Details" asp-route-itemId="@Model.ItemId">@Model.Nome</a></h5>
      <p class="card-text">Preço : @Model.Preco.ToString("c")</p>
      <p class="card-text"><small class="text-muted">@Model.DescricaoCurta</small></p>
       <p class="button">
            <a class="btn roxo text-white" id="cartButton" asp-controller="Carrinho"
                asp-action="AdicionarItemNoCarrinhoCompra" asp-route-itemId="@Model.ItemId">
                Incluir no Carrinho
            </a>
        </p>
    </div>
  </div>